<div>
  <!--
  <div class="top-header">
    <div class="content">
      <div class="logo">
        <img ng-src="{{domain_logo}}"/>
      </div>
      <div class="user">
        <h1>{{transcript.user.givenName}} {{transcript.user.familyName}}</h1>
      </div>
    </div>
  </div>
-->
  <div class="bottom-header" ng-style="bottomHeaderStyle">
    <div class="overlay">
      <div class="content">
        <div class="">
          <button class="btn btn-default">Dashboard</button>
        </div>
        <div class="right">
          <button class="btn btn-default">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
