.bottom-header {
  .overlay{
    background-color: fade-out($color-standard, .3);
  }
}
.evidence-list{
  .evidence-item{
    .fa{
      color: $color-standard;
    }
  }
}
.transcript{
  .transcript-header{
    .right{
      font-family: "Lucida", serif;
      text-align: right;
      text-transform: inherit;
      font-size:1.34em;
    }
    .user-name{
      font-family: "Lucida", serif;
      font-size:1.75em;
      text-transform: capitalize;
    }

  }
}
